html
    body
       form(action='/payment', id='brillantpayForm', method='post')
        script(src="http://35.185.208.103:81/v1/checkout.js",
          id='brillantpayButton',
          data-apiKey=apiKey,
          data-image="http://35.185.208.103:81/v1/images/logo.png",
          data-description="Chiffon blouse, Skinny top",
          data-currency="KES",
          data-amount="3599",
          data-email="tonnie@brillantpay.com",
          data-phone="+254711001122",
          data-customButton="")